BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 8
UseTab: Never

ColumnLimit: 79

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Linux

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false

AlignConsecutiveMacros: true
SortIncludes: false

# Tighter spacing
CompactNamespaces: true
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
SpacesInContainerLiterals: false
