---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignAfterOpenBracket: Align
