# Set up language as verilog
Language: Verilog

# Base the style on LLVM but override with our "Unix-ish" rules
BasedOnStyle: LLVM

# Indentation Logic
IndentWidth: 8
TabWidth: 8
UseTab: Never

# Line Wrapping (The "Line Wraps" you requested)
ColumnLimit: 79

# The "Old School" Compactness Rules
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

# Clean up the braces to look more K&R/Unix
BreakBeforeBraces: Attach
